# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# generated
forge/src/generated/*

# Files from Forge MDK
forge*changelog.txt
*.db

forge/src/main/resources/assets/gt4r/textures/ic2-texture-reference.zip

forge/src/main/resources/assets/gt4r/textures/ic2.zip

forge/src/main/resources/assets/gt4r/textures/minecraft.zip

forge/src/main/resources/assets/gt4r/textures/old_textures/

latest.zip
